# Node.js dependencies
node_modules/
JSON-API-Server/Hard
JSON-API-Server/Intermediate



# Environment variables
.env

# IDE/Editor specific files
.vscode/
.idea/

# Log files
logs/

# Session store
session/
